{% extends 'baseBack2.html.twig' %}
{% form_theme formCouleur 'bootstrap_4_layout.html.twig' %}
{% block body%}
<h1> Création d'un article</h1>
 {{ form_start(formCouleur) }}
  

   {{ form_row(formCouleur.name) }}


   


   <button class="btn btn-success" type="submit">Enregistrer</button>
 {{ form_end(formCouleur) }}

{% endblock %}