<div class="htc__category">
    <h4 class="title__line--4">categories</h4>
    <ul class="ht__cat__list">
        {% for c in categorie %}
            <li><a href="#">{{c.name}}</a></li>
        {% endfor %}                                                           
    </ul>
</div>

                           