<div class="ht__pro__color">
  <h4 class="title__line--4">color</h4>
  <ul class="ht__color__list">
    {% for c in couleur %}
     <li class="" ><a href="#" style="background-color:{{c.name}} !important">pink</a></li>
    {% endfor %}                                   
  </ul>
  </div> 

