<div class="ht__pro__size">
  <h4 class="title__line--4">Size</h4>
  <ul class="ht__size__list">
    <li><a href="#">xl</a></li>
    {% for t in taille %}
      <li><a href="#">{{t.name}}</a></li>
    {% endfor %}

  </ul>
</div>